[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
constructs = "<11.0.0,>=10.0.0"
aws-lambda-typing = "*"
"aws-cdk.aws-lambda-python-alpha" = "*"
lambda-decorators = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
